@page "/FAQ"


<h3>General</h3>



<Collapsable Title="Support" Collapsed="true" Value="">
    <span style="margin-right:20px;">
    <Collapsable Title="Lost, Damaged and stolen sims" Collapsed="true" Value="">
    Call XLN immediately on <em>0344 880 7777</em>. We will suspend your SIM card to prevent any unauthorised use and send a replacement SIM.
    </Collapsable>
    <Collapsable Title="Finding your number" Collapsed="true" Value="">
    Your phone number will be allocated at point of sale. You can find this number on your Mobile SIM pack, invoice or online at your MyAccount page.<br /><br />Alternatively you can find your number in the about section of your handset.
    </Collapsable>
   </span>
</Collapsable>

<Collapsable Title="Troubleshooting" Collapsed="true" Value="">
    <Collapsable Title="Locked and incompatoble handsets" Collapsed="true" Value="">
    XLN only provides 3G and 4G connectivity to deliver the best speeds and network reliability. For this reason 2G only handsets are not compatible with the XLN network.<br /><br />Your handset must also be unlocked (SIM free). If you previously purchased your handset via a network please check with them to ensure the device is unlocked.
    </Collapsable>
    <Collapsable Title="How to Clean your xln pay terminal" Collapsed="true" Value="">
    <div class="card-body"><p>Keeping your XLN Pay terminal clean and hygienic has always been important for ensuring the best possible customer experience.</p>
        <p>But with Covid lockdowns in place and many businesses preparing to re-open as safely as possible, the importance of clean terminals has increased.</p>
        <p>So here are some tips on cleaning your terminal in the best, safest way possible:</p>
        <ol>
        <li>Turn off your handset and unplug it from the power source before cleaning</li>
        <li>Clean with a lightly water-dampened cloth or with a very small amount of pH-neutral, non-scrubbing soap</li>
        <li>Don’t use solvents, detergents, bleach or abrasive cleaners</li>
        <li>Once cleaned, you can sanitise using an alcohol-based wipe or cleaner applied to a cloth</li>
        <li>Always apply gently – touch panel displays are especially sensitive</li>
        <li>Never spray or pour cleaner directly on to the terminal</li>
        <li>Never vigorously scrub, shake or dry the terminal</li>
        </ol>
        <p>Happy cleaning!</p>
    </div>
    </Collapsable>
</Collapsable>