@*@page  "/test"
@page "/test/{id:int}"
@inject IUserService UserService

    
    @if (Id == null)
{
    <PageTitle>Create a new Super Hero</PageTitle>
    <h3>Create a new Super Hero</h3>
}
else
{
    <PageTitle>Edit @user.Name </PageTitle>
    <h3>Edit @user.Name </h3>
}

<h1>kugkjhkjh</h1>


@code {

        [Parmeter]
    public int? Id { get; set; }

   

    User user = new User { };
    

   // protected override async Task OnParametersSetAsync()
    
        
      //user = await UserService.GetSingleUser((int)Id);
        
    

    
}

*@