@page "/user/{id:int}"
@inject IUserService UserService
@inject NavigationManager NavigationManager


   <button type="submit" @onclick="Logout"> Logout</button>

<h3> Your user ID/Username:  @Id  </h3>
<p>  Your Name: @myuser.Name </p>
<p>  Your Address: @myuser.Address </p>
<p>  Your Email: @myuser.Email </p>
<p>  Your Phone Number: @myuser.PhoneNumber </p>




@code {

    [Parameter]
    public int? Id { get; set; }
    
    xlnuser myuser = new xlnuser { };


    protected override async Task OnParametersSetAsync()
    {
        myuser = await UserService.GetSingleUser((int)Id);
    }

        
    
    
    private void Logout()
    {
     
      NavigationManager.NavigateTo("/login");
    }
    
}
