@page  "/users"
@inject IUserService UserService
@inject NavigationManager NavigationManager
<PageTitle> Users </PageTitle>
<h3>Users </h3>

<table class="table">
    <thead>
        <tr>
            <th> Name</th>
            <th> Address</th>
            <th> Email</th>
            <th> PhoneNumber</th>
        </tr>
    </thead>
    <tbody>
        @foreach ( var user in UserService.Users)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Address</td>
                <td>@user.Email</td>
                <td>@user.PhoneNumber</td>
               
            
              <td>
                    <button class="btn btn-primary" @onclick="(() => ShowHero(user.Id))"><i class="oi oi-pencil"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>
<button></button>

@code {
      protected override async Task OnInitializedAsync()
    {
        await UserService.GetUsers();
    }
     void ShowHero(int id)
    {
        NavigationManager.NavigateTo($"user/{id}");
    }
   
    
}
