body[b-k6734izi1a] {
    align-items: center;
    background-color: deepskyblue;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.form[b-k6734izi1a] {
    text-align: center;
    background-color: #f7f7f7;
    border-radius: 20px;
    box-sizing: border-box;
    height: 100%;
    padding: 20px;
    width: 100%;
}

.title[b-k6734izi1a] {
    text-align: center;
    color: black;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
}

.subtitle[b-k6734izi1a] {
    text-align: center;
    color: black;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.input-container[b-k6734izi1a] {
    height: 50px;
    position: relative;
    width: 100%;
}

.ic1[b-k6734izi1a] {
    margin-top: 40px;
}

.ic2[b-k6734izi1a] {
    margin-top: 30px;
}

.input[b-k6734izi1a] {
    background-color: dodgerblue;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.cut[b-k6734izi1a] {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}

.cut-short[b-k6734izi1a] {
    width: 50px;
}

.input:focus ~ .cut[b-k6734izi1a],
.input:not(:placeholder-shown) ~ .cut[b-k6734izi1a] {
    transform: translateY(8px);
}

.placeholder[b-k6734izi1a] {
    color: white;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus ~ .placeholder[b-k6734izi1a],
.input:not(:placeholder-shown) ~ .placeholder[b-k6734izi1a] {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder[b-k6734izi1a] {
    color: white;
}

.input:focus ~ .placeholder[b-k6734izi1a] {
    color: white;
}

.submit[b-k6734izi1a] {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    // outline: 0;
    text-align: center;
    width: 100%;
}

    .submit:active[b-k6734izi1a] {
        background-color: #06b;
    }
