.oi[b-9t2ejkf18t] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}
.list-con[b-9t2ejkf18t] {
    color: white;
    background-image: linear-gradient(165deg, #00a4c4 0%, #0c7ae8 175% );
}

.tickets-page[b-9t2ejkf18t]{
    height:250px;
}
.tickets-page iframe[b-9t2ejkf18t]{
    height:100%;
    width:100%;
    border:0px;
}

.nav-item[b-9t2ejkf18t] {
    font-size: 0.9rem;
}

    .nav-item[b-9t2ejkf18t]  a {
        color: white;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        background-image: linear-gradient(165deg, #00a4c4 0%, #0c7ae8 175% );
    }

.nav-item .index-links a[b-9t2ejkf18t]{
    background-color:rgba(0,0,0,0);
}

@media (min-width: 641px) {
    .navbar-toggler[b-9t2ejkf18t] {
        display: none;
    }

    .collapse[b-9t2ejkf18t] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
