body[b-d6wg11h7hb] {
    margin: 10px;
}

a[b-d6wg11h7hb] {
    text-decoration: none;
    color: white;
}
h1[b-d6wg11h7hb], h4[b-d6wg11h7hb], ol[b-d6wg11h7hb] {
    margin: 0;
}
p[b-d6wg11h7hb] {
    margin: 5px 0;
}
.top-bar[b-d6wg11h7hb] {
    background-color: #00a4c4;
    padding: 0 40px;
}
.main[b-d6wg11h7hb] {
    color: white;
    background-color: #00a4c4;
    padding: 10px 15px;
}
.bottom[b-d6wg11h7hb] {
    display: flex;
    color: grey;
    font-size: 12px;
}
.row[b-d6wg11h7hb] {
    padding; 5px 0;
}

.timestamp[b-d6wg11h7hb] {
    padding-right: 10px;
}

