body[b-k6734izi1a] {
    
    overflow-x:hidden;
}
.hidden[b-k6734izi1a]{display:none;}
.title[b-k6734izi1a] {
    text-align: center;
    font-family: Fira Sans,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 36px;
    font-weight: 600;
    margin-top: 0px;
    padding-bottom: 15px;
}

.subtitle[b-k6734izi1a] {
    text-align: center;
    color: black;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 0px;
}
.form[b-k6734izi1a] {
    background-color: #00a4c4; /*#e0e0e0;*/
    background-image: linear-gradient(180deg, rgba(255,255,255,0) 55%, #00a4c4 100%);
    height: 100%;
    padding: 20px;
    width: 100%;
    color: #efefef;
}
.form-control[b-k6734izi1a] {
    background-color: #efefef;
    border-width: 3px;
    border-color: black;
    color: black;
}
    .form-control[b-k6734izi1a]::placeholder {
        color: #2f2f2f
    }

.btn[b-k6734izi1a]{
    background:white;
}

    /*older stuff*/


.input[b-k6734izi1a] {
    background-color: dodgerblue;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 10px 15px;
    width: 100%;
    margin-bottom:15px;
}
.input[b-k6734izi1a]::placeholder {
        color: rgba(255,255,255,0.5);
    }

.upload[b-k6734izi1a] {
    padding: 3px;
    border-radius:10px;
    font-size:15px;
}

.input-container[b-k6734izi1a] {
    height: 50px;
    position: relative;
    width: 100%;
}

.ic1[b-k6734izi1a] {
    margin-top: 15px;
}

.ic2[b-k6734izi1a] {
    margin-top: 5px;
}



.cut[b-k6734izi1a] {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}

.cut-short[b-k6734izi1a] {
    width: 50px;
}

.input:focus ~ .cut[b-k6734izi1a],
.input:not(:placeholder-shown) ~ .cut[b-k6734izi1a] {
    transform: translateY(8px);
}

.placeholder[b-k6734izi1a] {
    color: white;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus ~ .placeholder[b-k6734izi1a],
.input:not(:placeholder-shown) ~ .placeholder[b-k6734izi1a] {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder[b-k6734izi1a] {
    color: white;
}

.input:focus ~ .placeholder[b-k6734izi1a] {
    color: white;
}

.submit[b-k6734izi1a] {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    // outline: 0;
    text-align: center;
    width: 100%;
}

    .submit:active[b-k6734izi1a] {
        background-color: #06b;
    }
