.form-wrap[b-np3z7xtd3z]{
    padding:30px;
}
.form-control[b-np3z7xtd3z] {
    margin-bottom: 1rem;
}
.centered-holder[b-np3z7xtd3z] {
    display: flex;
    justify-content: center;
    /**
    align-items: center;
    /**/
    height: 100%;
}
a[b-np3z7xtd3z]{
    text-decoration:none;
    color:black;
}
.centered-content[b-np3z7xtd3z] {
    border: 1px solid rgb(128, 128, 128, 0.5);
    border-radius: 5px;
    /**
    padding: 50px 40px;
    /**
        margin-top: -6rem;
    /**/
    width: 100%;
}