
.form-wrap[b-70cp7kig2n]{
    
}
.form-control[b-70cp7kig2n] {
    margin-bottom: 1rem;
}
.centered-holder[b-70cp7kig2n] {
    display: flex;
    justify-content: center;
    /**
    align-items: center;
    /**/
    height: 100%;
}
a[b-70cp7kig2n]{
    text-decoration:none;
    color:black;
}
.centered-content[b-70cp7kig2n] {
    border: 1px solid rgb(128, 128, 128, 0.5);
    border-radius: 5px;
    /**
    padding: 50px 40px;
    /**
        margin-top: -6rem;
    /**/
    width: 100%;
}