.login[b-2dx9zaxthq]{
    border: 1px solid rgb(128, 128, 128, 0.5);
    border-radius: 5px;
    padding:50px 40px;
    margin-top: 25px;
    width:400px;
}
.logo[b-2dx9zaxthq]{
    width:250px;
}
.img-contianer[b-2dx9zaxthq]{
    text-align:center;
}
.centered-holder[b-2dx9zaxthq] {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100%;
}
