ul li[b-exeo4sfcif]{
    padding-bottom: 5px;
}
.user_detail[b-exeo4sfcif] {
    padding-right: 50px;

}
ul[b-exeo4sfcif] {
    list-style: none;
    padding: 0;
}
.cli-list li[b-exeo4sfcif] {
    display:flex;
}