.radio-holder[b-4borvvmvci]{
    display: flex;
    justify-content: center;
}
.header[b-4borvvmvci] {
    width:100%;
    padding:15px 0px;
}

.centered-holder[b-4borvvmvci] {
    display:flex;
    align-items: center;
    justify-content:center;
    height:75vh;
}
.main[b-4borvvmvci] {
    
    width: 85vw;
}
    .main > div[b-4borvvmvci] {
        padding: 20px 40px;
    }
    



a[b-4borvvmvci]{
    text-decoration:none;
    color:black;
}
.centered-content[b-4borvvmvci] {
    border: 1px solid rgb(128, 128, 128, 0.5);
    border-radius: 5px;
    /**
    padding: 50px 40px;
    /**
        margin-top: -6rem;
    /**/
    width: 100%;
}
.faultservice[b-4borvvmvci]{
    background:lightgrey;
    border:3px solid grey;
    border-radius: 50px;
    width:100%;
    margin:1rem 0px;
    padding:0.5rem;
}

.radio-holder .btn:first-of-type[b-4borvvmvci]{
    border-left:none!important;
}
.radio-holder .btn:last-of-type[b-4borvvmvci]{
    border-right:none!important;
}