.navbar-toggler[b-5ch0wl43nb] {
    background-color: none;
    padding: 0px;
    margin: 0px;
    color: white;
    border: none;
}

    .navbar-toggler i[b-5ch0wl43nb] {
        font-size: 1.5em;
    }

.top-row[b-5ch0wl43nb] {
    height: 3.5rem;
    background-color: #00a4c4;
}

.navbar-brand[b-5ch0wl43nb] {
    font-size: 1.1rem;
}

.oi[b-5ch0wl43nb] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-5ch0wl43nb] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-5ch0wl43nb] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-5ch0wl43nb] {
        padding-bottom: 1rem;
    }

    .nav-item[b-5ch0wl43nb]  a {
        color: white;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-5ch0wl43nb]  a.active {
            background-color: #00a4c4;
            color: white;
        }

        .nav-item[b-5ch0wl43nb]  a:hover {
            background-color: white;
            color: black;
        }

@media (min-width: 641px) {
    .navbar-toggler[b-5ch0wl43nb] {
        display: none;
    }

    .collapse[b-5ch0wl43nb] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
