@page "/"



<div class="list-con">
    <ul class="nav flex-column">
        <li>
            <h3><strong>Hi {User}</strong></h3>
            <h5><strong>Customer ID:</strong> {ID}</h5>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Profile
            </NavLink>
        </li>

        <li class="nav-item ">
            <NavLink class="nav-link" href="Tickets">
                <span class="oi oi-plus" aria-hidden="true"></span> Tickets
            </NavLink>
            <div class="tickets-page">
                <iframe src="/tickets" title="ticket-frame" @onload="IFrameLoaded"></iframe>
            </div>
        </li>

        <li class="nav-item">
            <NavLink class="nav-link" href="OpenTickets">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Open Tickets
            </NavLink>

        </li>
        <li class="nav-item">
            <NavLink class="nav-link">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Help Me
            </NavLink>
            <span class="index-links"><a href="/faq">FAQ</a></span>
            <span class="index-links"><a href="/faq">Troubleshooting</a></span>
            <span class="index-links"><a href="/">Support</a></span>
        </li>
    </ul>
</div>

@code{
    private void IFrameLoaded(ProgressEventArgs e)
    {
        Console.WriteLine("IFrame loaded");
    }
}