@page "/chatbot"

<h3>ChatBot Page</h3>

    <div>
        <iframe src='https://webchat.botframework.com/embed/xlnfaq-bot?s=m9dvm9h3rmM.HsWsYRRK9pXH2bfe3ICuA68Y0KqTr0sFVQLsH48LjAQ'  style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
    </div>

@code {

}
