
.form-wrap{
    
}
.form-control {
    margin-bottom: 1rem;
}
.centered-holder {
    display: flex;
    justify-content: center;
    /**
    align-items: center;
    /**/
    height: 100%;
}
a{
    text-decoration:none;
    color:black;
}
.centered-content {
    border: 1px solid rgb(128, 128, 128, 0.5);
    border-radius: 5px;
    /**
    padding: 50px 40px;
    /**
        margin-top: -6rem;
    /**/
    width: 100%;
}