@page "/landing"
@inject NavigationManager NavigationManager
@using XLN_mock.Model;
<head>
   <title>Login</title> 
   <link rel="stylesheet" type="text/css" href="styles/app.css">
<link rel="stylesheet" media="only screen and (min-width:720px)" href="styles/desktop.css">
</head>

<style>
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>


<span class="centered-holder">
    <div class="login">
        <div class="img-contianer mb-5">
            <img src="images/logo.svg" asp-append-version="true" alt="XLN Logo" class="logo" /> 
        </div>
        <EditForm Model=@user OnValidSubmit=@FormSubmitted>
            <DataAnnotationsValidator />
            <div class="form-group mb-4">
                <InputText @bind-Value="user.AccountNumber" class="form-control" id="accNum" placeholder="Account Number" />
                <ValidationMessage For=@(() => user.AccountNumber) />
            </div>
            <div class="form-group mb-4">
                <InputText @bind-Value="user.Password" type="password" class="form-control" id="password" placeholder="Password" />
                <ValidationMessage For=@(() => user.Password) />
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </EditForm>
    </div>
</span>

@code{
    User user = new User();

    private void FormSubmitted(EditContext editContext) => NavigationManager.NavigateTo("/profile");


    /*
    Offer a landing page where the user can enter a customer account number/product identifier (phone number) which in the case where the account number is input will retrieve their current: -
    Phone line(s)
    Broadband(s) (ADSL/Fibre)

    */
}