
@page "/login"
@inject NavigationManager NavigationManager
<meta http-equiv="refresh" content="1; URL=landing">
<head>
   <title>Logging you in...</title> 
   <link rel="stylesheet" type="text/css" href="styles/app.css">
    <link rel="stylesheet" media="only screen and (min-width:720px)" href="styles/desktop.css">
</head>
<div class="loader"></div>


@code {
    /* LOGS USER In */
    
   
}
