
@page "/login"
@inject NavigationManager NavigationManager
<meta http-equiv="refresh" content="1; URL=landing">

<PageTitle>Logging you in..</PageTitle>
<div class="loader"></div>


@code {
    /* LOGS USER In */
    
   
}
