
@page "/logout"
@inject NavigationManager NavigationManager
<meta http-equiv="refresh" content="2; URL=landing">

<PageTitle>Logging you out..</PageTitle>
<div class="loader"></div>


@code {
    /* LOGS USER OUT */
    
   
}
