
@page "/logout"
@inject NavigationManager NavigationManager
<head>
<meta http-equiv="refresh" content="2; URL=landing">
<link rel="stylesheet" type="text/css" href="styles/app.css">
<link rel="stylesheet" media="only screen and (min-width:720px)" href="styles/desktop.css">
<title>Logging you out..</title>
</head>

<div class="loader"></div>


@code {
    /* LOGS USER OUT */
    
   
}
