@page "/page2"

@inject NavigationManager navManager

<h3>Query Paramter Demo</h3>
<div>Id = @Id</div>
<div>Name = @Name</div>
@code {
    string Id { get; set; }
    string Name { get; set; }
    protected override void OnInitialized()
    {
        GetId();
        GetName();
    }
    public void GetId()
    {
        var uri = new Uri(navManager.Uri);
        Id = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query).TryGetValue("id", out var type) ? type.First() : "";
    }
    public void GetName()
    {
        var uri = new Uri(navManager.Uri);
        Name = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query).TryGetValue("name", out var type) ? type.First() : "";
    }
    }