@page "/report"

<PageTitle>Fault Reporting</PageTitle>

<h1 style="text-align:center;">Report a Fault</h1>

<div class="radio-holder">
    
    <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off">
    <label class="btn btn-secondary m-auto" for="option1">Radio</label>

    <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
    <label class="btn btn-secondary m-auto" for="option2">Radio</label>

    <input type="radio" class="btn-check" name="options" id="option3" autocomplete="off">
    <label class="btn btn-secondary m-auto" for="option3">Radio</label>

    <input type="radio" class="btn-check" name="options" id="option4" autocomplete="off">
    <label class="btn btn-secondary m-auto" for="option4">Radio</label>

    <input type="radio" class="btn-check" name="options" id="option5" autocomplete="off">
    <label class="btn btn-secondary m-auto" for="option5">Radio</label>

    <input type="radio" class="btn-check" name="options" id="option6" autocomplete="off">
    <label class="btn btn-secondary m-auto" for="option6">Radio</label>
</div>




@code {
    /*
 Ability for the user to select which service is affected by a fault (Phone Line/Broadband)
     */
}
