
@page "/report"
@inject NavigationManager NavigationManager;
@namespace XLN_mock.Model


<PageTitle>@title</PageTitle>
<span class="centered-holder">
    <div class="main border border-warning border-4 rounded-3">
        <div class="heading bg-danger text-center text-white">
            <h1>Warning!</h1>
            <h3>You are about to report a fault!</h3>
        </div>
        <div>
            <p class="mb-0 ">Before you report a fault, ensure that you have checked your equipment thoroughly. Engineering visits that prove faults to be with customer equipment or damage caused to the network may result in a charge.</p>
           
            <div class="form-group mb-4">
                <label for="against"></label>
                <select @bind="reportAgainst" class="form-control" id="against">
                <option value="" selected disabled>Select one</option>
                @foreach(var option in user.Products)
                {
                    <option value="@option">@option</option>
                }
                </select>
            </div>
            

            <div class="text-center">
                <button class="text-white mx-3 btn bg-success" @onclick="OnClick">Continue</button>
                <!--a href="/form/{CLI}" onclick="" class="mx-3 btn bg-success">Continue</a-->
                <a href="/profile" class="text-white mx-3 btn bg-danger">Go Back</a>
            </div>
        </div>
    </div>
</span>



@code {
    User user;
    List<string[]> clis = new List<string[]>
    {
        new string[] {"01142567567", "false"},
        new string[] {"01142567890","true" },
        new string[] {"01142567910","true" },
        new string[] {"01142567678","false" }
    };

    string reportAgainst;
    /*FAKE DATABASE*/
    protected override async Task OnInitializedAsync()
    {
        loadFromDB();
    }
    private void loadFromDB()
    {
        user = new User(4857597, "SmallBizAnon", "Jennifer", "email@gmail.com", "0734534545");
        user.addProduct(clis);
    }

    private string title = "Warning";

    private void OnClick()
    {
        //NavigationManager.NavigateTo($"form");
        NavigationManager.NavigateTo($"form/?cli={reportAgainst}");
    }
}
