@page "/submit"
@using Microsoft.AspNetCore.Components.Rendering
@inject NavigationManager NavigationManager;
@namespace XLN_mock.Model
<PageTitle>@title</PageTitle>

<h2 style="position: fixed;top: 45%; left:33%;">Fault Processing</h2>
<div class="loader"></div>



@code {
    private string title = "Report a Fault";

    /*Querry String*/
    string name { get; set; }
    string accept { get; set; }
    protected override void OnInitialized()
    {
        getname();
        getaccept();
    }

    public void getname()
    {
        var uri = new Uri(NavigationManager.Uri);
        name = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query).TryGetValue("name", out var type) ? type.First() : "";
    }
    public void getaccept()
    {
        var uri = new Uri(NavigationManager.Uri);
        accept = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query).TryGetValue("accept", out var type) ? type.First() : "";
    }

}
