
@page "/test"

@using Microsoft.AspNetCore.Components.Rendering
@inject NavigationManager NavigationManager

<h3>Query Paramter Demo</h3>
<div>CLI = @CLI</div>
<div>isCLI = @isCLI</div>

@*tested with preview 9*@
@{ ListDropDown(__builder); }

@code {
    string isCLI { get; set; }
    string CLI { get; set; }
    protected override void OnInitialized()
    {
        GetisCLI();
        GetCLI();
    }
    public void GetisCLI()
    {
        var uri = new Uri(NavigationManager.Uri);
        isCLI = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query).TryGetValue("iscli", out var type) ? type.First() : "";
    }
    public void GetCLI()
    {
        var uri = new Uri(NavigationManager.Uri);
        CLI = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query).TryGetValue("cli", out var type) ? type.First() : "";
    }


    /*---LIST DROP DOWN---*/
    //public string data = CLI;
    void ListDropDown(RenderTreeBuilder __builder)
    {
        if (isCLI.Equals("true"))
        {
            <label for="incidentType">Incident Type</label>
            <select class="form-control" id="incidentType">
              <option>Bell not ringing</option>
              <option>Continuous dial tone</option>
              <option>Crossed lines</option>
              <option>Cuts off</option>
              <option>No dial tone</option>
              <option>Noisy line</option>
              <option>Damage</option>
            </select>
        }
        else
        {
           <label for="incidentType">Incident Type</label>
            <select class="form-control" id="incidentType">
                <option>Intermittent connection</option>
                <option>Early life failure</option>
                <option>Broadband fault</option>
                <option>Landline fault</option>
                <option>Firmware upgraded</option>
                <option>No web pages loading</option>
            </select>
        }
    }
}