@page "/troubleshoot"

<PageTitle>troubleshoot</PageTitle>


<div class="container justify-content-md-center">
    <div class="row mt-4 mb-3 col">
        <h1 class="text-center">Troubleshotting Guides</h1>
    </div>
    <div class="row justify-content-center flex-row">
        <div class="col text-center"><a href="" class="px-5 py-3 m-2 btn btn-lg bg-main bg-gradient">Guide 1</a></div>
        <div class="col text-center"><a href="" class="px-5 py-3 m-2 btn btn-lg bg-main bg-gradient">Guide 2</a></div>
    </div>

    <div class="row justify-content-center flex-row">
        <div class="col text-center"><a href="" class="px-5 py-3 m-2 btn btn-lg bg-main bg-gradient">Guide 3</a></div>
        <div class="col text-center"><a href="" class="px-5 py-3 m-2 btn btn-lg bg-main bg-gradient">Guide 4</a></div>
    </div>

</div>




@code {
    /*
 Ability for the user to select which service is affected by a fault (Phone Line/Broadband)
     */
}
