/* /Pages/FAQ.razor.rz.scp.css */
.title[b-uwudntn7fd] {
    text-align: center;
    color: black;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
}

.yagi-accordion button[b-uwudntn7fd] {
    border: none;
    cursor: pointer;
    padding: 0;
    line-height: inherit;
    color: white;
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    text-transform: none;
    -webkit-appearance: button;
    background-color: dodgerblue;
    background-image: none;
}

    .yagi-accordion button p[b-uwudntn7fd] {
        margin: 0;
    }

.yagi-accordion .mx-auto[b-uwudntn7fd] {
    margin-left: auto;
    margin-right: auto;
}

.yagi-accordion .my-2[b-uwudntn7fd] {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.yagi-accordion .mb-2[b-uwudntn7fd] {
    margin-bottom: 0.5rem;
}

.yagi-accordion .flex[b-uwudntn7fd] {
    display: flex;
}

.yagi-accordion .table[b-uwudntn7fd] {
    display: table;
}

.yagi-accordion .hidden[b-uwudntn7fd] {
    display: none;
}

.yagi-accordion .h-6[b-uwudntn7fd] {
    height: 1.5rem;
}

.yagi-accordion .max-h-0[b-uwudntn7fd] {
    max-height: 0px;
}

.yagi-accordion .max-h-tall[b-uwudntn7fd] {
    max-height: 100rem;
}

@media (min-width: 768px) {
    .yagi-accordion .max-h-tall[b-uwudntn7fd] {
        max-height: 50rem;
    }
}

.yagi-accordion .w-6[b-uwudntn7fd] {
    width: 1.5rem;
}

.yagi-accordion .w-full[b-uwudntn7fd] {
    width: 100%;
}

.yagi-accordion .max-w-prose[b-uwudntn7fd] {
    max-width: 80ch;
}

.yagi-accordion .items-center[b-uwudntn7fd] {
    align-items: center;
}

.yagi-accordion .justify-between[b-uwudntn7fd] {
    justify-content: space-between;
}

.yagi-accordion .overflow-hidden[b-uwudntn7fd] {
    overflow: hidden;
}

.yagi-accordion .rounded[b-uwudntn7fd] {
    border-radius: 0.25rem;
}

.yagi-accordion .p-3[b-uwudntn7fd] {
    padding: 0.75rem;
}

.yagi-accordion .px-2[b-uwudntn7fd] {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.yagi-accordion .text-left[b-uwudntn7fd] {
    text-align: left;
}

.yagi-accordion .font-bold[b-uwudntn7fd] {
    font-weight: 700;
}

.yagi-accordion .whitespace-pre-wrap[b-uwudntn7fd] {
    white-space: pre-wrap;
}

.yagi-accordion .transition-maxheight[b-uwudntn7fd] {
    transition-property: max-height;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.yagi-accordion .duration-500[b-uwudntn7fd] {
    transition-duration: 500ms;
}

.yagi-accordion .ease-out[b-uwudntn7fd] {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
/* /Pages/Index.razor.rz.scp.css */
.oi[b-p3aybwpbwz] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.list-con[b-p3aybwpbwz] {
    background-image: linear-gradient(165deg, #1E90FF 0%, #0c7ae8 175% );
}

.tickets-page[b-p3aybwpbwz] {
    height: 250px;
}

    .tickets-page iframe[b-p3aybwpbwz] {
        height: 100%;
        width: 100%;
        border: 0px;
    }

.nav-item[b-p3aybwpbwz] {
    font-size: 0.9rem;
}

    .nav-item[b-p3aybwpbwz]  a {
        color: black;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        background-color: rgba(255,255,255,0.5);
    }

    .nav-item .index-links a[b-p3aybwpbwz] {
        background-color: rgba(0,0,0,0);
    }

@media (min-width: 641px) {
    .navbar-toggler[b-p3aybwpbwz] {
        display: none;
    }

    .collapse[b-p3aybwpbwz] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* /Pages/Tickets.razor.rz.scp.css */
body[b-ex6acvqett] {
    
    overflow-x:hidden;
}
.hidden[b-ex6acvqett]{display:none;}
.title[b-ex6acvqett] {
    text-align: center;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 0px;
    padding-bottom: 15px;
}

.subtitle[b-ex6acvqett] {
    text-align: center;
    color: black;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 0px;
}
.form[b-ex6acvqett] {
    background-color: dodgerblue; /*#e0e0e0;*/
    background-image: linear-gradient(180deg, rgba(255,255,255,0) 55%, #00a4c4 100%);
    height: 100%;
    padding: 20px;
    width: 100%;
    color: #efefef;

}
.form-control[b-ex6acvqett] {
    background-color: #efefef;
    border-width: 3px;
    border-color: black;
    color: black;
}
    .form-control[b-ex6acvqett]::placeholder {
        color: #2f2f2f
    }

.btn[b-ex6acvqett]{
    background:white;
}

    /*older stuff*/


.input[b-ex6acvqett] {
    background-color: dodgerblue;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 10px 15px;
    width: 100%;
    margin-bottom:15px;
}
.input[b-ex6acvqett]::placeholder {
        color: rgba(255,255,255,0.5);
    }

.upload[b-ex6acvqett] {
    padding: 3px;
    border-radius:10px;
    font-size:15px;
}

.input-container[b-ex6acvqett] {
    height: 50px;
    position: relative;
    width: 100%;
}

.ic1[b-ex6acvqett] {
    margin-top: 15px;
}

.ic2[b-ex6acvqett] {
    margin-top: 5px;
}



.cut[b-ex6acvqett] {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}

.cut-short[b-ex6acvqett] {
    width: 50px;
}

.input:focus ~ .cut[b-ex6acvqett],
.input:not(:placeholder-shown) ~ .cut[b-ex6acvqett] {
    transform: translateY(8px);
}

.placeholder[b-ex6acvqett] {
    color: white;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus ~ .placeholder[b-ex6acvqett],
.input:not(:placeholder-shown) ~ .placeholder[b-ex6acvqett] {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder[b-ex6acvqett] {
    color: white;
}

.input:focus ~ .placeholder[b-ex6acvqett] {
    color: white;
}

.submit[b-ex6acvqett] {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    // outline: 0;
    text-align: center;
    width: 100%;
}

    .submit:active[b-ex6acvqett] {
        background-color: #06b;
    }
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-6n5j6f4qve] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.bottom-row[b-6n5j6f4qve] {
    background-color: #00a4c4;
    height: 35px;
}

.main[b-6n5j6f4qve] {
    flex: 1;
    height:100%
}

.sidebar[b-6n5j6f4qve] {
    background-image: linear-gradient(165deg, #1E90FF 0%, rgba(0,0,0,.75) 175% );
}

.top-row[b-6n5j6f4qve] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-6n5j6f4qve]  a, .top-row .btn-link[b-6n5j6f4qve] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-6n5j6f4qve] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-6n5j6f4qve] {
        display: none;
    }

    .top-row.auth[b-6n5j6f4qve] {
        justify-content: space-between;
    }

    .top-row a[b-6n5j6f4qve], .top-row .btn-link[b-6n5j6f4qve] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-6n5j6f4qve] {
        flex-direction: row;
    }

    .sidebar[b-6n5j6f4qve] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-6n5j6f4qve] {
        position: sticky;
        top: 0;
        z-index: 1;
    }
    /*
    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
        */
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-5ch0wl43nb] {
    background-color: none;
    padding: 0px;
    margin: 0px;
    color: white;
    border: none;
}

    .navbar-toggler i[b-5ch0wl43nb] {
        font-size: 1.5em;
    }

.top-row[b-5ch0wl43nb] {
    height: 3.5rem;
    background-color: #00a4c4;
}
.navbar[b-5ch0wl43nb]{
    padding:2rem !important;
}

.navbar-brand[b-5ch0wl43nb] {
    font-size: 1.1rem;
}

.oi[b-5ch0wl43nb] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-5ch0wl43nb] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-5ch0wl43nb] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-5ch0wl43nb] {
        padding-bottom: 1rem;
    }

    .nav-item[b-5ch0wl43nb]  a {
        color: white;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-5ch0wl43nb]  a.active {
            background-color: #00a4c4;
            color: white;
        }

        .nav-item[b-5ch0wl43nb]  a:hover {
            background-color: white;
            color: black;
        }

@media (min-width: 641px) {
    .navbar-toggler[b-5ch0wl43nb] {
        display: none;
    }

    .collapse[b-5ch0wl43nb] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
