.page[b-1i0n3smah1] {
    position: relative;
    display: flex;
    flex-direction: column;
}
.bottom-row[b-1i0n3smah1] {
    background-color: #00a4c4;
    height: 35px;
}

.main[b-1i0n3smah1] {
    flex: 1;
    
    margin-bottom:35px;
}

.sidebar[b-1i0n3smah1] {
    background-color: white;
}

.top-row[b-1i0n3smah1] {
    background-color: white;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row deep a[b-1i0n3smah1], .top-row .btn-link[b-1i0n3smah1] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-1i0n3smah1] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-1i0n3smah1] {
        display: none;
    }

    .top-row.auth[b-1i0n3smah1] {
        justify-content: space-between;
        color:white;
    }

    .top-row a[b-1i0n3smah1], .top-row .btn-link[b-1i0n3smah1] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-1i0n3smah1] {
        flex-direction: row;
    }

    .sidebar[b-1i0n3smah1] {
        width: 200px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-1i0n3smah1] {
        position: inherit;
        top: 0;
        z-index: 1;
        color: #00a4c4;
        
    }

    .main > div[b-1i0n3smah1] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
