@inherits LayoutComponentBase

<div class="page" style="height:100%;">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>
