@inherits LayoutComponentBase
@inject NavigationManager NavigationManager;
@using Microsoft.AspNetCore.Components.Rendering

<div class="page" style="height:100%;">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content">
            @Body
            <div class="user_detail">
                <img height="25" src="../images/user_icon.png" /> @companyName - @contactName - (@contactEmail) - (@contactNumber) - 
                <strong><a href="/logout" class="text-decoration-none link-dark">Logout</a></strong>
                </div>
        </article>
    </main>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        loadFromDB();
    }
    string companyName;
    string contactName;
    string contactEmail;
    string contactNumber;
    private void loadFromDB()
    {
        companyName = "SmallBizAnon";
        contactName = "Jennifer";
        contactEmail = "email@gmail.com";
        contactNumber = "0734534545";
    }

    private void logout()
    {
        NavigationManager.NavigateTo($"/logout");
    }

    List<string[]> clis = new List<string[]>
    {
        new string[] {"Your first CLI","true"},
        new string[] {"Your first Broadband","false"},
        new string[] {"Your second CLI","true"}
    };


    private void report(string[] cli)
    {
        NavigationManager.NavigateTo($"report?cli={cli[0]}&iscli={cli[1]}");

    }
    void CLIlist(RenderTreeBuilder __builder)
    {

        for (int x = 0; x < clis.Count; x++)
        {
            string[] pass = clis[x];
            <div class="border d-flex flex-row bg-light">
                <div class="p-1 me-auto">@clis[x][0]</div>
            <div class="flex-shrink-1"><a href="/troubleshoot" class="m-2 btn bg-danger">Troubleshoot</a></div>
            <div class="flex-shrink-1"><button @onclick="@(e=>report(pass))" class="m-2 btn bg-main">Report Fault</button></div>
        </div>
        }
    }

}