@inject NavigationManager NavigationManager
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><img src="/images/logo.svg" width="155" height="41" /></a>
    </div>
</div>

@code {

    private void TakeMeHome() => NavigationManager.NavigateTo("/");

}
