@inject NavigationManager NavigationManager;

<div class="top-row pl-4 navbar navbar-dark">
    <img src="images/logo.svg" alt="xln logo" width="155" height="41" class="">    <button class="navbar-toggler" @onclick="TakeToHome">
        <i class="oi oi-menu"/>
    </button>
</div>

<div class="hidden">
    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Tickets">
                    <span class="oi oi-plus" aria-hidden="true"></span> Tickets
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="OpenTickets">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Open Tickets
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="FAQ">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> FAQ
                </NavLink>
            </li>
        </ul>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void TakeToHome()
    {
        NavigationManager.NavigateTo("\\");
    }
}
