.title {
    text-align: center;
    color: black;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
}

.yagi-accordion button {
    border: none;
    cursor: pointer;
    padding: 0;
    line-height: inherit;
    color: white;
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    text-transform: none;
    -webkit-appearance: button;
    background-color: dodgerblue;
    background-image: none;
}

.yagi-accordion button p {
        margin: 0;

}

.yagi-accordion .mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.yagi-accordion .my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.yagi-accordion .mb-2 {
    margin-bottom: 0.5rem;
}

.yagi-accordion .flex {
    display: flex;
}

.yagi-accordion .table {
    display: table;
}

.yagi-accordion .hidden {
    display: none;
}

.yagi-accordion .h-6 {
    height: 1.5rem;
}

.yagi-accordion .max-h-0 {
    max-height: 0px;
}

.yagi-accordion .max-h-tall {
    max-height: 100rem;
}

@media (min-width: 768px) {
    .yagi-accordion .max-h-tall {
        max-height: 50rem;
    }
}

.yagi-accordion .w-6 {
    width: 1.5rem;
}

.yagi-accordion .w-full {
    width: 100%;
}

.yagi-accordion .max-w-prose {
    max-width: 80ch;
}

.yagi-accordion .items-center {
    align-items: center;
}

.yagi-accordion .justify-between {
    justify-content: space-between;
}

.yagi-accordion .overflow-hidden {
    overflow: hidden;
}

.yagi-accordion .rounded {
    border-radius: 0.25rem;
}

.yagi-accordion .p-3 {
    padding: 0.75rem;
}

.yagi-accordion .px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.yagi-accordion .text-left {
    text-align: left;
}

.yagi-accordion .font-bold {
    font-weight: 700;
}

.yagi-accordion .whitespace-pre-wrap {
    white-space: pre-wrap;
}

.yagi-accordion .transition-maxheight {
    transition-property: max-height;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.yagi-accordion .duration-500 {
    transition-duration: 500ms;
}

.yagi-accordion .ease-out {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
