@page "/FAQ"

<div class="title">
    <h1 >FAQ</h1>
</div>
<div class="yagi-accordion">
    <div class="mx-auto max-w-prose px-2">
        <button type="button" class="accordion-header w-full flex justify-between items-center my-2 p-3 rounded" onclick="this.nextElementSibling.classList.toggle('max-h-0');this.nextElementSibling.classList.toggle('max-h-tall'); this.querySelector('.plus').classList.toggle('hidden'); this.querySelector('.minus').classList.toggle('hidden');">
            <p class="font-bold text-left" x-text="accordion.title">Support</p>
            <svg xmlns="http://www.w3.org/2000/svg" class="plus h-6 w-6 hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="minus h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6"></path>
            </svg>
        </button>
        <div class="accordion-content transition-maxheight ease-out duration-500 overflow-hidden mb-2 max-h-tall">
            <div class="mx-auto max-w-prose px-2">
                <div class="accordion-item">
                    <button type="button" class="accordion-header w-full flex justify-between items-center my-2 p-3 rounded" onclick="this.nextElementSibling.classList.toggle('max-h-0');this.nextElementSibling.classList.toggle('max-h-tall'); this.querySelector('.plus').classList.toggle('hidden'); this.querySelector('.minus').classList.toggle('hidden');">
                        <p class="font-bold text-left" x-text="accordion.title">How long will it take to repair a fault?</p>
                        <svg xmlns="http://www.w3.org/2000/svg" class="plus h-6 w-6 hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="minus h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6"></path>
                        </svg>
                    </button>
                    <div class="accordion-content transition-maxheight ease-out duration-500 overflow-hidden mb-2 max-h-tall">
                        <p class="whitespace-pre-wrap" x-html="accordion.content">How quickly a fault is repaired depends on a number of different things. XLN's service uses the BT Openreach network, which means that any faults with your line will be seen to by an Openreach engineer. How soon they address the fault depends on availability in your area as well as the complexity or location of the problem. If an appointment is needed we'll always try to book the earliest possible slot for you, but please bear in mind that it may take a few days for an engineer to become available.</p>
                    </div>
                </div><div class="accordion-item">
                    <button type="button" class="accordion-header w-full flex justify-between items-center my-2 p-3 rounded" onclick="this.nextElementSibling.classList.toggle('max-h-0');this.nextElementSibling.classList.toggle('max-h-tall'); this.querySelector('.plus').classList.toggle('hidden'); this.querySelector('.minus').classList.toggle('hidden');">
                        <p class="font-bold text-left" x-text="accordion.title">Who will repair my fault?</p>
                        <svg xmlns="http://www.w3.org/2000/svg" class="plus h-6 w-6 hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="minus h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6"></path>
                        </svg>
                    </button>
                    <div class="accordion-content transition-maxheight ease-out duration-500 overflow-hidden mb-2 max-h-tall">
                        <p class="whitespace-pre-wrap" x-html="accordion.content">We run our service on the BT Openreach network, and your phone line remains part of this network when you join XLN. That means that if you have a fault with your line, an Openreach engineer will repair it.</p>
                    </div>
                </div><div class="accordion-item">
                    <button type="button" class="accordion-header w-full flex justify-between items-center my-2 p-3 rounded" onclick="this.nextElementSibling.classList.toggle('max-h-0');this.nextElementSibling.classList.toggle('max-h-tall'); this.querySelector('.plus').classList.toggle('hidden'); this.querySelector('.minus').classList.toggle('hidden');">
                        <p class="font-bold text-left" x-text="accordion.title">Who should I contact if there is a fault on my line?</p>
                        <svg xmlns="http://www.w3.org/2000/svg" class="plus h-6 w-6 hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="minus h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6"></path>
                        </svg>
                    </button>
                    <div class="accordion-content transition-maxheight ease-out duration-500 overflow-hidden mb-2 max-h-tall">
                        <p class="whitespace-pre-wrap" x-html="accordion.content">If there is a fault on your line, please let us know by calling us, or if you prefer you can run a line test and raise a fault via MyAccount. Our lines are open 24 hours a day, 7 days a week.</p>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="accordion-header w-full flex justify-between items-center my-2 p-3 rounded" onclick="this.nextElementSibling.classList.toggle('max-h-0');this.nextElementSibling.classList.toggle('max-h-tall'); this.querySelector('.plus').classList.toggle('hidden'); this.querySelector('.minus').classList.toggle('hidden');">
            <p class="font-bold text-left" x-text="accordion.title">Troubleshooting</p>
            <svg xmlns="http://www.w3.org/2000/svg" class="plus h-6 w-6 hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="minus h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6"></path>
            </svg>
        </button>
        <div class="accordion-content transition-maxheight ease-out duration-500 overflow-hidden mb-2 max-h-tall">
                <div class="yagi-accordion">
                    <div class="mx-auto max-w-prose px-2">
                        <div class="accordion-item">
                            <button type="button" class="accordion-header w-full flex justify-between items-center my-2 p-3 rounded" onclick="this.nextElementSibling.classList.toggle('max-h-0');this.nextElementSibling.classList.toggle('max-h-tall'); this.querySelector('.plus').classList.toggle('hidden'); this.querySelector('.minus').classList.toggle('hidden');">
                                <p class="font-bold text-left" x-text="accordion.title">What if I have a blank screen or loss of power on my terminal?</p>
                                <svg xmlns="http://www.w3.org/2000/svg" class="plus h-6 w-6 hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" class="minus h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6"></path>
                                </svg>
                            </button>
                            <div class="accordion-content transition-maxheight ease-out duration-500 overflow-hidden mb-2 max-h-tall">
                                <p class="whitespace-pre-wrap" x-html="accordion.content">Check the mains socket is on and working, make sure the power cable is locked in position underneath the cable tidy. Press the power button to turn on.</p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <button type="button" class="accordion-header w-full flex justify-between items-center my-2 p-3 rounded" onclick="this.nextElementSibling.classList.toggle('max-h-0');this.nextElementSibling.classList.toggle('max-h-tall'); this.querySelector('.plus').classList.toggle('hidden'); this.querySelector('.minus').classList.toggle('hidden');">
                                <p class="font-bold text-left" x-text="accordion.title">What do I do if i have a terminal fault?</p>
                                <svg xmlns="http://www.w3.org/2000/svg" class="plus h-6 w-6 hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" class="minus h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6"></path>
                                </svg>
                            </button>
                            <div class="accordion-content transition-maxheight ease-out duration-500 overflow-hidden mb-2 max-h-tall">
                                <p class="whitespace-pre-wrap" x-html="accordion.content">If you experience a terminal fault, please call our helpdesk for assistance on 0344 880 6121</p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <button type="button" class="accordion-header w-full flex justify-between items-center my-2 p-3 rounded" onclick="this.nextElementSibling.classList.toggle('max-h-0');this.nextElementSibling.classList.toggle('max-h-tall'); this.querySelector('.plus').classList.toggle('hidden'); this.querySelector('.minus').classList.toggle('hidden');">
                                <p class="font-bold text-left" x-text="accordion.title">Terminal displays 'Aquirer disabled'?</p>
                                <svg xmlns="http://www.w3.org/2000/svg" class="plus h-6 w-6 hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" class="minus h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6"></path>
                                </svg>
                            </button>
                            <div class="accordion-content transition-maxheight ease-out duration-500 overflow-hidden mb-2 max-h-tall">
                                <p class="whitespace-pre-wrap" x-html="accordion.content">Please call XLN on 0344 880 6121</p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>