@page "/FAQ"

<div class="title">
    <h1>Troubleshooting</h1>
</div>
<div class="yagi-accordion">
    <div class="mx-auto max-w-prose px-2">
        <!-- Support ACCORDION -->
        
        <div style="display:none;">
            <button type="button" class="accordion-header w-full flex justify-between items-center my-2 p-3 rounded" onclick="this.nextElementSibling.classList.toggle('max-h-0');this.nextElementSibling.classList.toggle('max-h-tall'); this.querySelector('.plus').classList.toggle('hidden'); this.querySelector('.minus').classList.toggle('hidden');">
                <p class="font-bold text-left" x-text="accordion.title">Support</p>
                <svg xmlns="http://www.w3.org/2000/svg" class="plus h-6 w-6 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="minus h-6 w-6 hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6"></path>
                </svg>
            </button>
            <!-- ACCORDION CONTENT -->
            <div class="accordion-content transition-maxheight ease-out duration-500 overflow-hidden mb-2 max-h-0">
                <div class="mx-auto max-w-prose px-2">

                    <!-- ACCORDION ITEM -->
                    <div class="accordion-item">
                        <button type="button" class="accordion-header w-full flex justify-between items-center my-2 p-3 rounded" onclick="this.nextElementSibling.classList.toggle('max-h-0');this.nextElementSibling.classList.toggle('max-h-tall'); this.querySelector('.plus').classList.toggle('hidden'); this.querySelector('.minus').classList.toggle('hidden');">
                            <p class="font-bold text-left" x-text="accordion.title">How long will it take to repair a fault?</p>
                            <svg xmlns="http://www.w3.org/2000/svg" class="plus h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" class="minus h-6 w-6 hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6"></path>
                            </svg>
                        </button>
                        <div class="accordion-content transition-maxheight ease-out duration-500 overflow-hidden mb-2 max-h-tall">
                            <p class="whitespace-pre-wrap" x-html="accordion.content">How quickly a fault is repaired depends on a number of different things. XLN's service uses the BT Openreach network, which means that any faults with your line will be seen to by an Openreach engineer. How soon they address the fault depends on availability in your area as well as the complexity or location of the problem. If an appointment is needed we'll always try to book the earliest possible slot for you, but please bear in mind that it may take a few days for an engineer to become available.</p>

                        </div>
                    </div>

                    <!-- ACCORDION ITEM -->
                    <div class="accordion-item">
                        <button type="button" class="accordion-header w-full flex justify-between items-center my-2 p-3 rounded" onclick="this.nextElementSibling.classList.toggle('max-h-0');this.nextElementSibling.classList.toggle('max-h-tall'); this.querySelector('.plus').classList.toggle('hidden'); this.querySelector('.minus').classList.toggle('hidden');">
                            <p class="font-bold text-left" x-text="accordion.title">Who will repair my fault?</p>
                            <svg xmlns="http://www.w3.org/2000/svg" class="plus h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" class="minus h-6 w-6 hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6"></path>
                            </svg>
                        </button>
                        <div class="accordion-content transition-maxheight ease-out duration-500 overflow-hidden mb-2 max-h-tall">
                            <p class="whitespace-pre-wrap" x-html="accordion.content">We run our service on the BT Openreach network, and your phone line remains part of this network when you join XLN. That means that if you have a fault with your line, an Openreach engineer will repair it.</p>
                        </div>
                    </div>

                    <!-- ACCORDION ITEM -->
                    <div class="accordion-item">
                        <button type="button" class="accordion-header w-full flex justify-between items-center my-2 p-3 rounded" onclick="this.nextElementSibling.classList.toggle('max-h-0');this.nextElementSibling.classList.toggle('max-h-tall'); this.querySelector('.plus').classList.toggle('hidden'); this.querySelector('.minus').classList.toggle('hidden');">
                            <p class="font-bold text-left" x-text="accordion.title">Who should I contact if there is a fault on my line?</p>
                            <svg xmlns="http://www.w3.org/2000/svg" class="plus h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" class="minus h-6 w-6 hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6"></path>
                            </svg>
                        </button>
                        <div class="accordion-content transition-maxheight ease-out duration-500 overflow-hidden mb-2 max-h-tall">
                            <p class="whitespace-pre-wrap" x-html="accordion.content">If there is a fault on your line, please let us know by calling us, or if you prefer you can run a line test and raise a fault via MyAccount. Our lines are open 24 hours a day, 7 days a week.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Troubleshooting ACCORDION -->
        <div>
            <button type="button" class="accordion-header w-full flex justify-between items-center my-2 p-3 rounded" onclick="this.nextElementSibling.classList.toggle('max-h-0');this.nextElementSibling.classList.toggle('max-h-tall'); this.querySelector('.plus').classList.toggle('hidden'); this.querySelector('.minus').classList.toggle('hidden');">
                <p class="font-bold text-left" x-text="accordion.title">Troubleshooting</p>
                <svg xmlns="http://www.w3.org/2000/svg" class="minus h-6 w-6 hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6"></path>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="plus h-6 w-6 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                </svg>
                
            </button>
            <!-- ACCORDION CONTENT -->
            <div class="accordion-content transition-maxheight ease-out duration-500 overflow-hidden mb-2 max-h-0">
                    <div class="yagi-accordion">
                        <div class="mx-auto max-w-prose px-2">

                            <!-- ACCORDION ITEM -->
                            <div class="accordion-item">
                                <button type="button" class="accordion-header w-full flex justify-between items-center my-2 p-3 rounded" onclick="this.nextElementSibling.classList.toggle('max-h-0');this.nextElementSibling.classList.toggle('max-h-tall'); this.querySelector('.plus').classList.toggle('hidden'); this.querySelector('.minus').classList.toggle('hidden');">
                                    <p class="font-bold text-left" x-text="accordion.title">Locked and Incompatible Handsets</p>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="plus h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="minus h-6 w-6 hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6"></path>
                                    </svg>
                                </button>
                                <div class="accordion-content transition-maxheight ease-out duration-500 overflow-hidden mb-2 max-h-0">
                                    <div class="card-body">
                                        <p>XLN only provides 3G and 4G connectivity to deliver the best speeds and network reliability. For this reason 2G only handsets are not compatible with the XLN network.</p><p>Your handset must also be unlocked (SIM free). If you previously purchased your handset via a network please check with them to ensure the device is unlocked.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- ACCORDION ITEM -->
                            <div class="accordion-item">
                                <button type="button" class="accordion-header w-full flex justify-between items-center my-2 p-3 rounded" onclick="this.nextElementSibling.classList.toggle('max-h-0');this.nextElementSibling.classList.toggle('max-h-tall'); this.querySelector('.plus').classList.toggle('hidden'); this.querySelector('.minus').classList.toggle('hidden');">
                                    <p class="font-bold text-left" x-text="accordion.title">How to clean your XLN pay terminal</p>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="plus h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="minus h-6 w-6 hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6"></path>
                                    </svg>
                                </button>
                                <div class="accordion-content transition-maxheight ease-out duration-500 overflow-hidden mb-2 max-h-0">
                                    <div class="card-body">
                                        <p>Keeping your XLN Pay terminal clean and hygienic has always been important for ensuring the best possible customer experience.</p>
                                        <p>But with Covid lockdowns in place and many businesses preparing to re-open as safely as possible, the importance of clean terminals has increased.</p>
                                        <p>So here are some tips on cleaning your terminal in the best, safest way possible:</p>
                                        <ol>
                                        <li>Turn off your handset and unplug it from the power source before cleaning</li>
                                        <li>Clean with a lightly water-dampened cloth or with a very small amount of pH-neutral, non-scrubbing soap</li>
                                        <li>Don’t use solvents, detergents, bleach or abrasive cleaners</li>
                                        <li>Once cleaned, you can sanitise using an alcohol-based wipe or cleaner applied to a cloth</li>
                                        <li>Always apply gently – touch panel displays are especially sensitive</li>
                                        <li>Never spray or pour cleaner directly on to the terminal</li>
                                        <li>Never vigorously scrub, shake or dry the terminal</li>
                                        </ol>
                                        <p>Happy cleaning!</p>
                                    </div>
                                </div>
                            </div>

                            <!-- ACCORDION ITEM -->
                            <div class="accordion-item">
                                <button type="button" class="accordion-header w-full flex justify-between items-center my-2 p-3 rounded" onclick="this.nextElementSibling.classList.toggle('max-h-0');this.nextElementSibling.classList.toggle('max-h-tall'); this.querySelector('.plus').classList.toggle('hidden'); this.querySelector('.minus').classList.toggle('hidden');">
                                    
                                    <p class="font-bold text-left" x-text="accordion.title">
                                        What if I have a black screen or loss of power
                                    </p>
                                    
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="plus h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="minus h-6 w-6 hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6"></path>
                                        </svg>
                                    </div>
                                </button>

                                <div class="accordion-content transition-maxheight ease-out duration-500 overflow-hidden mb-2 max-h-0">
                                    <div class="card-body"><p>Check the mains socket is on and working, make sure the power cable is locked in position underneath the cable tidy. Press the power button to turn on.</p>
                                    </div>

                                </div>
                            </div>

                            <div class="accordion-item">
                                <button type="button" class="accordion-header w-full flex justify-between items-center my-2 p-3 rounded" onclick="this.nextElementSibling.classList.toggle('max-h-0');this.nextElementSibling.classList.toggle('max-h-tall'); this.querySelector('.plus').classList.toggle('hidden'); this.querySelector('.minus').classList.toggle('hidden');">
                                    
                                    <p class="font-bold text-left" x-text="accordion.title">
                                        My device tries to connect to the XLN Wi-Fi service when I am in my own business premises.
                                    </p>
                                    
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="plus h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="minus h-6 w-6 hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6"></path>
                                        </svg>
                                    </div>
                                </button>

                                <div class="accordion-content transition-maxheight ease-out duration-500 overflow-hidden mb-2 max-h-0">
                                    <div class="card-body">
                                        <p>My device tries to connect to the XLN Wi-Fi service when I am in my own business premises.</p>
                                        <p>When you're in your business premises, you should always connect to your private Wi-Fi. Unless it has been changed, your private Wi-Fi network name (sometimes called an SSID) will usually be one of these:</p>
                                        <h3>XLNBusinessServices</h3>
                                        <h3>XLN For Small Business</h3>
                                        <p>Sometimes your device may try to connect to XLN public Wi-Fi instead of your private Wi-Fi, but most devices have a way of prioritising which network to connect to.</p>
                                        <p>Windows allows you to put networks in order of prioritisation, while iPads and iPhones will try to connect to a secure private Wi-Fi connection before a non-secure public network. Some Android devices also have a Wi-Fi priority feature built into the advanced Wi-Fi settings.</p>
                                        <p>You should check the manufacturer's instructions for prioritising networks on your device. However, if you are unable to do this, or if your device still connects to XLN public Wi-Fi after following the manufacturer's instructions, you should be able to get your device to 'forget' XLN Wi-Fi.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <button type="button" class="accordion-header w-full flex justify-between items-center my-2 p-3 rounded" onclick="this.nextElementSibling.classList.toggle('max-h-0');this.nextElementSibling.classList.toggle('max-h-tall'); this.querySelector('.plus').classList.toggle('hidden'); this.querySelector('.minus').classList.toggle('hidden');">
                                    
                                    <p class="font-bold text-left" x-text="accordion.title">
                                        What do I do if I have a terminal fault
                                    </p>
                                    
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="plus h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="minus h-6 w-6 hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6"></path>
                                        </svg>
                                    </div>
                                </button>

                                <div class="accordion-content transition-maxheight ease-out duration-500 overflow-hidden mb-2 max-h-0">
                                    <div class="card-body"><p>If you experience a terminal fault, please call our helpdesk for assistance on 0344 880 6121</p></div>
                                </div>
                            </div>


                            <div class="accordion-item">
                                <button type="button" class="accordion-header w-full flex justify-between items-center my-2 p-3 rounded" onclick="this.nextElementSibling.classList.toggle('max-h-0');this.nextElementSibling.classList.toggle('max-h-tall'); this.querySelector('.plus').classList.toggle('hidden'); this.querySelector('.minus').classList.toggle('hidden');">
                                    
                                    <p class="font-bold text-left" x-text="accordion.title">
                                        Terminal displays 'Acquire Disbaled'
                                    </p>
                                    
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="plus h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="minus h-6 w-6 hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6"></path>
                                        </svg>
                                    </div>
                                </button>

                                <div class="accordion-content transition-maxheight ease-out duration-500 overflow-hidden mb-2 max-h-0">
                                    <div class="card-body"><p>Please call XLN on 0344 880 6121</p></div>
                                </div>
                            </div>


                            <div class="accordion-item">
                                <button type="button" class="accordion-header w-full flex justify-between items-center my-2 p-3 rounded" onclick="this.nextElementSibling.classList.toggle('max-h-0');this.nextElementSibling.classList.toggle('max-h-tall'); this.querySelector('.plus').classList.toggle('hidden'); this.querySelector('.minus').classList.toggle('hidden');">
                                    
                                    <p class="font-bold text-left" x-text="accordion.title">
                                        How do I complete my end of day baking procedure?
                                    </p>
                                    
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="plus h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="minus h-6 w-6 hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6"></path>
                                        </svg>
                                    </div>
                                </button>

                                <div class="accordion-content transition-maxheight ease-out duration-500 overflow-hidden mb-2 max-h-0">
                                    <div class="card-body">
                                        <p>It is best practice to complete this at the end of business every day.</p>
                                        <p>When the terminal is displaying the ‘SALE' screen.</p>
                                        <p>Press ‘Batch' and enter password 0000 and then press Enter.</p>
                                        <p>Follow instructions on the screen.</p>
                                        <p>The terminal will display ‘Processing' whilst it communicates with the acquirer. A confirmation will then appear on the screen of the terminal and a report will print out for your records.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <button type="button" class="accordion-header w-full flex justify-between items-center my-2 p-3 rounded" onclick="this.nextElementSibling.classList.toggle('max-h-0');this.nextElementSibling.classList.toggle('max-h-tall'); this.querySelector('.plus').classList.toggle('hidden'); this.querySelector('.minus').classList.toggle('hidden');">
                                    
                                    <p class="font-bold text-left" x-text="accordion.title">
                                        All of my transactions are declining or failing, what can I do?
                                    </p>
                                    
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="plus h-6 w-6 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="minus h-6 w-6 hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6"></path>
                                        </svg>
                                    </div>
                                </button>

                                <div class="accordion-content transition-maxheight ease-out duration-500 overflow-hidden mb-2 max-h-0">
                                    <div class="card-body"><p>Check your internet and/or phone line is working</p>
                                        <p>Switch the power off at the mains socket, check all the cables are properly connected, and hold down the power button to turn on. If the above fails call our terminal helpdesk on 0344 880 6121</p>
                                        </div>
                                </div>
                            </div>

                            <!-- END LIST -->
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>


<!-- TEMPLATES -->

<!-- ACCORDION ITEM -->
<div style="display:none;">
                            <div class="accordion-item" >
                                <button type="button" class="accordion-header w-full flex justify-between items-center my-2 p-3 rounded" onclick="this.nextElementSibling.classList.toggle('max-h-0');this.nextElementSibling.classList.toggle('max-h-tall'); this.querySelector('.plus').classList.toggle('hidden'); this.querySelector('.minus').classList.toggle('hidden');">
                                    
                                    <p class="font-bold text-left" x-text="accordion.title">
                                        
                                    </p>
                                    
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="plus h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="minus h-6 w-6 hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6"></path>
                                        </svg>
                                    </div>
                                </button>

                                <div class="accordion-content transition-maxheight ease-out duration-500 overflow-hidden mb-2 max-h-0">
                                    
                                </div>
                            </div>
</div>

<!-- ACCORDION -->
<div style="display: none;">
            <button type="button" class="accordion-header w-full flex justify-between items-center my-2 p-3 rounded" onclick="this.nextElementSibling.classList.toggle('max-h-0');this.nextElementSibling.classList.toggle('max-h-tall'); this.querySelector('.plus').classList.toggle('hidden'); this.querySelector('.minus').classList.toggle('hidden');">
                <p class="font-bold text-left" x-text="accordion.title">
                    Support
                </p>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="plus h-6 w-6 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="minus h-6 w-6 hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6"></path>
                    </svg>
                </div>
            </button>
            <!-- ACCORDION CONTENT -->
            <div class="accordion-content transition-maxheight ease-out duration-500 overflow-hidden mb-2 max-h-0">
                <div class="mx-auto max-w-prose px-2">

                    <!-- ACCORDION ITEMS -->
                    <div class="accordion-item">
                                <button type="button" class="accordion-header w-full flex justify-between items-center my-2 p-3 rounded" onclick="this.nextElementSibling.classList.toggle('max-h-0');this.nextElementSibling.classList.toggle('max-h-tall'); this.querySelector('.plus').classList.toggle('hidden'); this.querySelector('.minus').classList.toggle('hidden');">
                                    
                                    <p class="font-bold text-left" x-text="accordion.title">
                                        
                                    </p>
                                    
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="plus h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="minus h-6 w-6 hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6"></path>
                                        </svg>
                                    </div>
                                </button>

                                <div class="accordion-content transition-maxheight ease-out duration-500 overflow-hidden mb-2 max-h-0">
                                    
                                </div>
                    </div>

                </div>
            </div>
</div>