.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}
.list-con {
    color: white;
    background-image: linear-gradient(165deg, #00a4c4 0%, #0c7ae8 175% );
}

.tickets-page{
    height:250px;
}
.tickets-page iframe{
    height:100%;
    width:100%;
    border:0px;
}

.nav-item {
    font-size: 0.9rem;
}

    .nav-item ::deep a {
        color: white;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        background-image: linear-gradient(165deg, #00a4c4 0%, #0c7ae8 175% );
    }

.nav-item .index-links a{
    background-color:rgba(0,0,0,0);
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
