@page "/OpenTickets"

<div class="form">
    <div class="content px-4" b-1i0n3smah1="">
        <div class="form" b-k6734izi1a="">
        <div class="title" b-k6734izi1a="">Open Tickets</div>
    </div>
    </div>
</div>