body {
    margin: 10px;
}

a {
    text-decoration: none;
    color: white;
}
h1, h4, ol {
    margin: 0;
}
p {
    margin: 5px 0;
}
.top-bar {
    background-color: #00a4c4;
    padding: 0 40px;
}
.main {
    color: white;
    background-color: #00a4c4;
    padding: 10px 15px;
}
.bottom {
    display: flex;
    color: grey;
    font-size: 12px;
}
.row {
    padding; 5px 0;
}

.timestamp {
    padding-right: 10px;
}

